h2#location Location

div.jsla-venue-container.layer-2
    div.jsla-venue-info
        h3
            a( href="#{url}" title="#{name}")= name
        a( href="https://www.google.com/maps/place/#{address}" itemprop="location" )
            p= address
    a( href="https://www.google.com/maps/place/#{address}" )
        div.jsla-venue-map( style="background-image: url(\"https://maps.googleapis.com/maps/api/staticmap?center=#{address}&zoom=16&size=640x400\");" )
            div.jsla-marker     
                i.icon-marker
    div.jsla-venue-info
        p= misc
