div.info-box.clearfix
    div.info-details
        h1 Meet-up Details
        p This month we will be meeting at <a href="http://#{url}" title="#{name}">#{name}</a> located at <a href="#{mapUrl}">#{address}</a>.
        p #{misc}
        p The general format will be 2 planned talks followed by drinks.js around 9:15.
        :markdown
            ## Special Velocity NY Deal
            O'Reilly has offered a $300 discount to Velocity NY this year using the discount code USRG300 with this link: [http://oreil.ly/1pH8eqz](http://oreil.ly/1pH8eqz)

            For every three signups with this unique link we will give away a free pass to [Velocity NY](http://velocityconf.com/ny).

    div.info-map
        iframe(src="#{mapIframeUrl}", width="440", height="440", frameboarder="0", style="border:0")
