<script>
    function switchSpeakersDescriptionLength(i){
        if($("#text-less"+i.toString()).attr('hidden') == "hidden"){
            $("#text-less"+i.toString()).removeAttr('hidden')
            $("#read-more-less-button"+i).text("Read more")
        }else{
            $("#text-less"+i.toString()).attr('hidden', "hidden")
            $("#read-more-less-button"+i).text("Read less")
        }
        if($("#text-more"+i.toString()).attr('hidden') == "hidden"){
            $("#text-more"+i.toString()).removeAttr('hidden')
        }else{
            $("#text-more"+i.toString()).attr('hidden', "hidden")
        }

    }
</script>

<section class="wrapper style1 container special">
    <h1 style="font-weight: bold; font-size: 28px;">Speakers</h1>
    <div class="row" id="speakers">
        <% for(var i=0;i<event.speakers.length;i++){
            let speaker = public._data.speakers[event.speakers[i]]; %>
            <div class="col-6 col-12-narrower speaker">
            <section>
                <div class="speaker-photo" style="background: url(<%= speaker.image %>); background-size: cover; margin: 0 auto;"></div>
                <span><h4 style="font-weight: bold"><%= speaker.name %>
                    <a href="https://www.github.com/<%= speaker.github %>"><span class="icon fa-github" style="color: #050505"></span></a>
                    <a href="https://www.twitter.com/<%= speaker.twitter %>"><span class="icon fa-twitter" style="color: #01B9FF"></span></a>
                </h4></span>
                <header><h3 class="speaker-description"><%= speaker.title %></h3></header>
                <p id="text-less<%= i %>" class="speaker-abstract">
                <%= speaker.description.substring(0, 100)+(speaker.description.length>100?"...":"") %>
                <p id="text-more<%= i %>" class="speaker-abstract" hidden=1>
                <%= speaker.description %>
                </p>
                <button id="read-more-less-button<%= i %>" onclick=switchSpeakersDescriptionLength(<%= i %>)>Read more</button>
            </section>
            </div>
            <% } %>
        </div>
        </section>
