<section class="wrapper style1 container special">
    <h1 style="font-weight: bold; font-size: 42px;">Speakers</h1>
    <div class="row" id="speakers">
        <% for(var i=0;i<event.speakers.length;i++){
            let speaker = public._data.speakers[event.speakers[i]]; %>
            <div class="col-6 col-12-narrower speaker">
            <section>
                <h4><img class="speaker-photo" src="<%= speaker.image %>" />
                    <div class="speaker-details">
                        <%= speaker.name %>
                        <div class="speaker-links">
                            <a href="https://www.github.com/<%= speaker.github %>"><span class="icon fa-github" style="color: #050505"></span></a>
                            <a href="https://www.twitter.com/<%= speaker.twitter %>"><span class="icon fa-twitter" style="color: #01B9FF"></span></a>
                        </div>
                    </div>
                </h4>
                <header><h3 class="speaker-description"><%= speaker.title %></h3></header>
                <p id="text-more" class="speaker-abstract">
                <%= speaker.description %>
                </p>
            </section>
            </div>
            <% } %>
        </div>
        </section>
