li.jsla-speaker.clearfix( id=github )
    - var imgSrc = image.match(/^http/) ? image : '/images/speakers/' + image
    img.jsla-avatar.layer-2(src="#{imgSrc}", width="130", alt=speaker )
    div.jsla-speaker-details
        ul.jsla-speaker-info.clearfix
            li
                span.jsla-speaker-name= name
            if twitter
                li 
                    a(href="https://twitter.com/#{twitter}")
                        i.icon-twitter
            if github
                li 
                    a(href="https://github.com/#{github}")
                        i.icon-github
        div.jsla-speaker-content.layer-2
            h2.jsla-speaker-title= title
            p.jsla-speaker-description!= description
    
            if videoimg
                - var videoUrl = (video || '').toString().match(/^http/) ? video : 'http://vimeo.com/' + video
                - var videoImgSrc = videoimg.match(/^http/) ? videoimg : '/images/videos/' + videoimg

                a.jsla-video-container( rel="lightbox-video-#{github}" href="#{videoUrl}")
                    img.videoimg(src=videoImgSrc)
